### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (create a variable that holds the file location of the purchase_data csv file)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# View the dataframe purchase_data created by reading the csv file
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
# Calculate the total number of unique players
# create a new dataframe with columns "Gender", "SN", and "Age" using the .loc method
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
775  Female     Aethedru70   21
776    Male         Iral74   21
777    Male     Yathecal72   20
778    Male        Sisur91    7
779    Male      Ennrian78   24

[780 rows x 3 columns]

In [4]:
# Drop duplicates from player_demographics using method .drop_duplicates()
player_demographics = player_demographics.drop_duplicates() # note the change in player_demographics rows from 780 to 576
player_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [5]:
# Assign variable number_players use the .count() method to count all of fields in player_demographics
# using [0] indexing to assign just the first entry to number of players
number_players = player_demographics.count()[0]  # try this without the [0] and notice the difference
number_players

576

In [7]:
# We can use print and f-string fomating to add context to the output
print(f"The total number of unique players is: {number_players}")

The total number of unique players is: 576

In [6]:
# Create dataframe with one column called "Total Players" using the pandas method .DataFrame 
# try typing just pd. and then use the tab key to see all the methods available with pandas
total_players = pd.DataFrame({"Total Players": [number_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Calculate unique items
item_count = len(purchase_data["Item ID"].unique())
print(f" The number of unique items available to purchase are: {item_count}")

 The number of unique items available to purchase are: 179

In [15]:
# Calculate average purchase price 
avg_purchase_price = purchase_data["Price"].mean()
print(f" The average puchase price is: ${avg_purchase_price:,.2f}") # add $ in the f-string before the variable and two decimal formating to f-string by adding :,.2f to the variable itself

 The average puchase price is: $3.05

In [17]:
# Calculate total number of purchases using the Python len function
# Note assumes each "Purchase ID" is a unique purchase 
total_number_purchases = len(purchase_data["Purchase ID"])
print(f" The total number of purchases is: {total_number_purchases:,}") # added the :, "comma" formating in case the value was larger

 The total number of purchases is: 780

In [18]:
# Calculate the total revenue by using the Pandas .sum() method
total_revenue = purchase_data["Price"].sum()
print(f"The total revenue genderated from all sales is: ${total_revenue:,.2f}")

The total revenue genderated from all sales is: $2,379.77

In [29]:
# Create a dataframe to communicate the purchase analysis report
purchase_analysis = pd.DataFrame({
    "Number of Unique Items": [item_count],
    "Average Price": [avg_purchase_price],
    "Number of Purchases": [total_number_purchases],
    "Total Revenue": [total_revenue]
                                 })
purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [30]:
purchase_analysis.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [31]:
# format the purchase analysis using the Pandas method .round(), .map to iterate overall values in a column 
# and .format to convert to string (object) and change formating adding , $ or 2 decimal places (if cases where round is not used)
purchase_analysis = purchase_analysis.round(2) # round to 2 places after the zero
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:,.2f}".format) # adds $ and duplicate way to round to 2 figures past decimal
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:,.2f}".format) # adds $ - currency formating
purchase_analysis # note: you will get an error when you run this cell twice. Solution is to run the DataFrame above and then run formatting.

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [32]:
# note the change in data types (using dtypes) between the unformatted DataFrame and the formatted DataFrame
purchase_analysis.dtypes # Columns that have been formatted are now "strings" also referred to as objects

Number of Unique Items     int64
Average Price             object
Number of Purchases        int64
Total Revenue             object
dtype: object

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame